mixin form(form)
    .form&attributes(attributes)
        .container
            .form__container
                form(action='send.php' enctype="multipart/form-data" method="post")

                    input(type="hidden" name="form" value=form.name)
                    input(type="hidden" name="form_id" value=form.idTarget)
                    input(type="hidden" name="ymName" value=form.idTarget)
                    input(type="hidden" name="subject" value=form.title)
                    input(type="hidden" name="location" value)

                    if form.title
                        .form__title.title!= form.title
                    .form__row
                        ul.form__block
                            li.form__input
                                +input({type: 'name', placeholder: 'Имя', errorMsg: 'Напишите имя'})
                            li.form__input
                                +input({type: 'phone', placeholder: 'Телефон', errorMsg: 'Напишите телефон'})
                            li.form__input
                                +input({type: 'email', placeholder: 'E-mail', errorMsg: 'Некорректный e-mail'})
                        if form.full
                            ul.form__block
                                li.form__input
                                    +input({type: 'name', placeholder: 'Название организации', errorMsg: ''})
                                li.form__input
                                    +input({type: 'name', placeholder: 'ИНН', errorMsg: ''})
                                li.form__input
                                    +input({type: 'select', placeholder: 'Тема обращения', errorMsg: ''})
                    .form__textarea
                        +input({type: 'textarea', placeholder: 'Комментарии'})
                    .form__row
                        .form__block-license.--links
                            .form__checkbox
                                +checkbox({text: 'Я принимаю условия передачи информации'})
                            if form.file || form.full
                                .form__file
                                    +input({type: 'file', placeholder: 'Нажмите чтобы добавить файлы к письму'})
                    .form__block.--submit
                        button(class="form__button button" type="submit")= form.button
                .form__thanks
                    .form__thanks-title Спасибо за Ваше обращение!
                    p.form__thanks-description
                        | Мы свяжемся с&nbsp;Вами в&nbsp;ближайшее время.
                        | А&nbsp;если у Вас очень срочный&nbsp;вопрос и ждать&nbsp;нельзя, скорее звоните&nbsp;нам:
                        | <a href="tel:+74952405262">+7 (495) 240 52 62</a>
                        | Звонок по России бесплатный

//- .form__checkNumber.checkNumber
//-   .checkNumber__container
//-     .checkNumber__row
//-       .checkNumber__text Ваш номер: <span class="checkNumber__number">+7 999 999 99 99</span>, верно?
//-     .checkNumber__row
//-       button(class="checkNumber__button --return form__button button") Нет, исправить!
//-       button(class="checkNumber__button --submit form__button button") Да, отправить!


mixin form_test(form)
    .form&attributes(attributes)
        .container
            .form__container
                form(action='send_test.php' enctype="multipart/form-data" method="post")
                    input(type="hidden" name="form" value=form.name)
                    input(type="hidden" name="ymName" value=form.idTarget)
                    input(type="hidden" name="location" value)
                    if form.title
                        .form__title.title!= form.title
                    .form__row
                        ul.form__block
                            li.form__input
                                +input({type: 'name', placeholder: 'Ваше имя', errorMsg: 'Напишите имя'})
                            li.form__input
                                +input({type: 'phone', placeholder: 'Номер телефона', errorMsg: 'Напишите телефон'})
                        if form.full
                            .form__block
                                .form__textarea
                                    +input({type: 'textarea', placeholder: 'Комментарии'})
                    .form__row
                        .form__block.--links
                            .form__checkbox
                                +checkbox({text: 'Я принимаю условия передачи информации'})
                            if form.file || form.full
                                .form__file
                                    +input({type: 'file', placeholder: 'Нажмите чтобы добавить файлы к письму'})
                        .form__block.--submit
                            button(class="form__button button" type="submit")= form.button
                .form__thanks
                    .form__thanks-title Спасибо за Ваше обращение!
                    p.form__thanks-description
                        | Мы свяжемся с&nbsp;Вами в&nbsp;ближайшее время.
                        | А&nbsp;если у Вас очень срочный&nbsp;вопрос и ждать&nbsp;нельзя, скорее звоните&nbsp;нам:
                        | <a href="tel:+74952405262">7 (495) 240 52 62</a>
                        | Звонок по России бесплатный

